.pagina-ajuda {
    background-color: #1b1d1e;
    color: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.pagina-ajuda h1 {
    color: #fbbd33;
    text-align: center;
    margin-bottom: 20px;
}

.pagina-ajuda h2 {
    color: #fbbd33;
    margin-top: 25px;
}

.pagina-ajuda p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.pagina-ajuda .container-ajuda {
    max-width: 800px;
    margin: 0 auto;
}

.pagina-ajuda #btt-ajuda {
    top: 25px;
    right: 25px;
}
