.prefooter {
    background: #0c1623;
    padding: 70px 10%;
    display: flex;
    justify-content: center;
}

.prefooter-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    gap: 40px;
}

.prefooter-left {
    width: 35%;
}

.prefooter-logo {
    width: 130px;
    margin-bottom: 15px;
}

.prefooter-left h3 {
    color: #fff;
    font-size: 28px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.prefooter-col h4 {
    color: #fff;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.prefooter-col ul {
    list-style: none;
    padding: 0;
}

.prefooter-col ul li {
    margin: 8px 0;
}

.prefooter-col a {
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.2s ease;
}

.prefooter-col a:hover {
    color: #f4b942;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .prefooter-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .prefooter-left {
        width: 100%;
    }
}

/* btt do prefooter*/

#prefooter {
    margin-top: 5px;
    position: relative;
    display: block;
}
