.pagina-termos {
    background-color: #1b1d1e;
    color: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.pagina-termos h1 {
    color: #fbbd33;
    text-align: center;
    margin-bottom: 20px;
}

.pagina-termos h2 {
    color: #fbbd33;
    margin-top: 25px;
}

.pagina-termos p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.pagina-termos .container-termos {
    max-width: 800px;
    margin: 0 auto;
}

.pagina-termos #btt-termos {
    top: 25px;
    right: 25px;
}
